{%extends 'base.html'%}

{%block contents%}

<div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Preventing CSRF</h6>
                  <h4>Unveiling Vulnerabilities of Web Attacks Considering Man in the Middle Attack and Session Hijacking</h4>
                  <p>In this article, we propose a methodology to leverage Machine Learning (ML) for the detection of web application vulnerabilities. Web applications are particularly challenging to analyse, due to their diversity and the widespread adoption of custom programming practices. ML is thus very helpful for web application security.</p>
                </div>
            </div>
          </div>
        </div>
    </div>


{%endblock%}